.questionnaire-container {
  position: relative;
  
  margin: auto;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to bottom, #E1F0DA 0%, #D4E7C5 50%, #BFD8AF 100%);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  animation: fadeInBackground 1s ease-in-out forwards;
}

.questionnaire-card {
  background: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 60%;
  position: relative;
}

.progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #F1C93B, #FBD85D);
  width: 0;
  transition: width 0.5s ease-out;
  border-radius: 5px;
}

.questionnaire-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.question {
  margin-bottom: 40%;
}

.question.active h2 {
  animation: typing 1s steps(40, end);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* Cursor effect */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.question.hidden {
  display: none;
}

.option-button {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3D5A80;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #6D91C2;
}

.option-button.selected {
  background-color: #EE6C4D;
  color: #fff;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
  font-size: 16px;
}

.multiple-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chip {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.chip.selected {
  background-color: #EE6C4D;
  color: #fff;
}

.chip input {
  margin-right: 5px;
}

.button-container {
  position: fixed;
  bottom: 50px;
  right: 100px;
}

.next-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45A049;
}

.next-button:disabled {
  background-color: #716f6f;
  cursor: not-allowed;
}

.bmi-container {
  margin-top: 20px;
  font-size: 18px;
  color: #4c4c4c;
}

@keyframes fadeInBackground {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
