/* General container styles */
.headerContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    background-color: #d1e2c1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

.logo > img {
    height: 2.5rem;
    width: 2.5rem;
}

.logo > span {
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
}

/* Right section styles */
.right {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menuList {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList > li:hover {
    color: #fe956f;
    cursor: pointer;
}

.bars {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.searchContainer {
    position: relative;
}

.searchBox {
    display: flex;
    align-items: center;
}

.search {
    width: 150px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    width: 1.5rem;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    color: #333;
}

.cartItemCount {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #fe956f;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.showMenu {
    display: flex;
}

.hideMenu {
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 856px) {
    .search {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .right {
        position: absolute;
        top: 100%;
        right: 2rem;
        z-index: 9999;
        background: #d1e2c1;
        color: #333;
        border-radius: 5px;
        flex-direction: column;
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
        margin-left: 0;
        display: none;
    }

    .bars {
        display: block;
    }

    .showMenu {
        display: flex;
        flex-direction: column;
    }

    .hideMenu {
        display: none;
    }
}
